@nilmod {
	name: "NilLoaderSDK";
	description: "Utilities and helper SDK for NilLoader mod development.";
	authors: "TamKungZ_";
	version: "2.0.0";
}

entrypoints {
	premain: "me.tamkungz.nilloadersdk.entrypoint.NilLoaderSDKPremain";
	hijack: "me.tamkungz.nilloadersdk.entrypoint.NilLoaderSDKHijack";
}
